@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: 0, 209, 105;
  --foreground-rgb: 0, 0, 0;
  --contrast-foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 250, 250, 250;

  --code-foreground-rgb: 90, 90, 90;
  --code-background-rgb: 220, 220, 220;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --contrast-foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --code-foreground-rgb: 90, 90, 90;
    --code-background-rgb: 240, 240, 240;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-end-rgb));
}

@layer components {
  .container-fit {
    @apply max-w-[95%] mx-auto py-4 flex flex-wrap justify-between gap-5 sm:flex-nowrap sm:py-20 md:max-w-4xl;
  }

  .article-block {
    @apply text-gray-700 mx-auto border rounded-lg p-3 w-11/12 sm:p-4 md:p-8 sm:w-4/5 md:w-2/3 md:max-w-4xl;
  }
  .inputer {
    outline: none;
    appearance: none;
    color: rgb(var(--foreground-rgb));
    @apply w-[180px] border-2 rounded-lg p-1 border-primary text-center;
  }
  .code {
    outline: none;
    border: none;
    width: auto;
    max-width: 180px;
    appearance: none;
    padding: 2px 4px;
    background-color: rgb(var(--code-background-rgb));
    color: rgb(var(--code-foreground-rgb));
    @apply rounded-lg text-center;
  }
  .manual-link {
    @apply text-primary hover:cursor-pointer hover:text-primary-dark active:text-primary-darker;
  }
  .tip-copied {
    background-color: rgba(0, 0, 0, 0.65);
    color: #ffffff;
    top: -4px;
    padding: 2px 6px;
    opacity: 0;
    @apply absolute right-6 sm:-right-20 text-nowrap text-sm rounded-md text-primary-darker;
  }
  .tip-copied.active {
    animation: 1s linear 0.1s 1 forwards fadeout;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
  } 
  to {
    opacity: 0;
  }
}
